{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} PlanIt {% endblock title %}</title>
    {% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
        crossorigin="anonymous">
    <link rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    {% endblock css %}
</head>
<body>
    {% block header %}
    <header class="p-3 text-white" style="background-color:rgb(153, 31, 0)">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{% static 'planit_logo_white.png' %}" alt="Planit Logo" style="height: 40px; margin-right:2vw">
                </a>
                <div class="text-end ms-auto">
                    {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle me-2"></i>
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'profile' %}"> My Profile </a></li>
                            <li><a class="dropdown-item" href="{% url 'home' %}"> Settings </a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}"> Logout </a></li>
                        </ul>       
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url 'signup' %}" class="btn btn-warning">Sign-up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}

    <div id="snackbar" class="snackbar" 
        data-messages='[
            {% for message in messages %}
                {"message": "{{ message|escapejs }}", "tags": "{{ message.tags }}"}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]'>
    </div>

    {% block content %}
    {% endblock content %}

    {% block footer %}
    <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3 color-corporativo">© {{yyyy}} Copyright:
            <a href="https://google.es/" target="_blank" class="color-corporativo-azul"> Planit</a>
            - Antonio Benítez (2026)
        </div>
    </footer>
    {% endblock footer %}
    
    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
        crossorigin="anonymous">
    </script>
    <script src="{% static 'scripts.js' %}"></script>
    {% endblock js %}
</body>
</html>