{% extends 'index.html' %}
{% load static %}
{% block title %} Login - Planit {% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<!-- DIV FONDO - Div para mostrar imágen de fondo -->
<div style="background: url('{% static "blurbg.jpg" %}'); 
    min-height: 100vh; 
    background-size: cover; 
    display: flex; 
    justify-content: center; 
    align-items: center;">
    <div class="login-card text-center">

        <img src="{% static 'planit_logo_color2.png' %}" 
             class="mb-4 login-logo" 
             alt="Planit Logo">

        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="form-group mb-3 text-start">
                <label for="username" class="form-label">Usuario o Email</label>
                <input type="text" class="form-control form-control-lg" 
                       id="username" name="username" 
                       placeholder="Introduzca su Usuario o Email">
            </div>

            <div class="form-group mb-4 text-start">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control form-control-lg" 
                       id="password" name="password" 
                       placeholder="Introduzca su contraseña">
            </div>

            <button type="submit" 
                    class="btn btn-lg w-100 text-light"
                    style="background-color:rgb(153, 31, 0)">
                Login
            </button>

            <div class="text-center mt-3">
                <small class="text-muted">
                    ¿No tienes cuenta? 
                    <a href="{% url 'signup' %}" class="red-link">
                        Regístrate aquí
                    </a>
                </small>
            </div>

        </form>
    </div>
</div>
<a href="{% url 'home' %}" class="btn btn-warning hover-scale-press" style="position: fixed; bottom:30px; right:30px">
    <i class="bi bi-house-door me-1"></i>
    Vuelve al Inicio
</a>
{% endblock content %}
{% block footer %}{% endblock footer %}